@import "reset";
@import "utils/mixins";
@import "utils/variables";
@import "utils/text";
@import "utils/general";

@include fontFace("Signika Negative", "fonts/SignikaNegative.ttf");
@include fontFace("League Spartan", "fonts/LeagueSpartan.ttf");

body {
    font-family: "Signika Negative", sans-serif;
    background: $white;
    color: $black;
    font-size: $fs-content;
}

// COMPONENT
@import "components/header";
@import "components/footer";
@import "components/callToContact";
@import "components/titleOnBackground";
@import "components/accordion";
@import "components/textBox";
@import "components/formContact";
@import "components/inputGroup";
@import "components/selectGroup";
@import "components/subHeader";
@import "components/connectedHeader";
@import "components/messenger";
@import "components/candidateInformation";

// PAGE
@import "pages/home";
@import "pages/about";
@import "pages/contact";
@import "pages/services";
@import "pages/projects";
@import "pages/jobOffers";
@import "pages/offer";

// DASHBOARD PAGE
@import "dashboard/home";
@import "dashboard/offers";
@import "dashboard/candidates";

// PARTIALS
@import "partials/singleMessage";
