footer {
    @include flexCenter("column");
    padding: 30px 20px;
    img.logo-footer {
        display: block;
        margin: 20px auto;
        width: 100px;
        transition: $transition;
        &:hover {
            transform: rotate(-90deg);
        }
    }
    ul li {
        text-align: center;
        margin: 15px 0;

        a {
            color: $black;
            padding: 15px 0;
            transition: $transition;

            &:hover {
                color: darken($primary, 10);
            }
        }
    }
    form {
        @include flexAlignCenter("column");
        margin: 50px 0;
        input {
            @include formInput();
            width: 100%;
        }
        button {
            @include formButton();
            width: 100%;
        }
    }
    .socials {
        @include flexCenter("column");
        width: 100%;
        margin: 0;
        max-width: 500px;

        ul,
        li,
        img {
            margin: 0;
            transition: $transition;
        }
        ul {
            @include flexSpaceBetween();
            width: 100%;
            padding: 0 20px;
        }
        li {
            a {
                color: $black;
                transition: $transition;

                img {
                    width: 40px;
                    height: 40px;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
                &:hover {
                    color: darken($primary, 10);
                }
            }
        }
    }
}
