.section-page-list {
    @include boxContainer();
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 30%;
    min-width: 300px;
    padding: 20px 10px;

    .title h3 {
        font-size: $fs-title + 0.2;
        margin: 0;
        margin-bottom: 20px;
    }
    .title {
        margin: 10px;
    }

    ul.sections {
        max-height: 60vh;
        overflow-y: scroll;
        padding: 0 10px;
        li {
            margin-bottom: 20px;
            background: $white;
            border-radius: 5px;
            box-shadow: $boxShadow;
            overflow: hidden;

            .header {
                padding: 10px;
            }
        }
    }

    .btn-container {
        padding: 0 10px;
        .new-section {
            @include flexSpaceBetween();
            align-items: center;
            flex-wrap: wrap;
        }
    }
}
