.sub-header {
    display: none;
}
@media screen and (min-width: 768px) {
    .sub-header {
        display: block;
        background: $black;
        padding: 5px;
        ul {
            @include flexAlignCenter();
            @include flexCenter();

            li {
                a {
                    color: $white;
                }
                margin: 0 1.5em;
            }
        }
    }
}
