.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    z-index: 100;
    display: none;

    &.active {
        @include flexCenter();
    }
}

.modal {
    position: relative;
    width: 90%;
    max-height: 90vh;
    overflow: auto;
    background: $grey;
    padding: 20px;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;

    .close {
        position: absolute;
        top: 15px;
        right: 30px;
        font-size: 50px;
        color: $black;
        cursor: pointer;
    }
}

.modal-content {
    .title {
        font-size: $fs-title + 0.5;
        margin-bottom: 20px;
    }
    .content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        img {
            max-height: 60vh;
            border-radius: 5px;
            box-shadow: $boxShadow;
        }

        .modal-text {
            text-align: left;
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            box-shadow: $boxShadow;
            background: $white;
        }
    }
}

@media screen and (min-width: 1000px) {
    .modal {
        .content {
            justify-content: space-between;
            img {
                width: 60%;
            }

            .modal-text {
                margin: 0;
                width: 38%;
            }
        }
    }
}

@media screen and (min-width: 1300px) {
    .modal {
        width: 75%;
    }
}
