.container {
    padding: 0 $containerPadding;
}
a {
    transition: $transition;
    color: $black;
}
.btn {
    @include button($primary, $black, "normale");
}
.btn-invert {
    @include button($primary, $black, "invert");
}
img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.svg {
    width: 40px;
    height: 40px;
}
.col-2 {
    @include flexAlignCenter();
    @include flexSpaceBetween();
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;

    div {
        width: 47%;
    }
}
.title * {
    text-align: center;
}
iframe {
    width: 100%;
}
.muted {
    font-style: italic;
    color: $darkGrey;
    font-size: $fs-small;
}
