// COLOR
$white: #fff;
$black: #000;
$primary: #fcc300;
$darkGrey: #808080;
$grey: #e6e6d6;

// BOX
$borderRadius: 3px;
$borderWidth: 2px;
$boxShadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

// FONT
$fs-title: 1.2em;
$fs-content: 1.2em;
$fs-small: 0.8em;
$fs-subtitle: 1.1em;
